body {
  padding-top: 80px;
}
.mccolor {
  white-space: pre-wrap;
  color: transparent; /* Hide unformatted text. */
  font-family: monospace, sans-serif;
}
#disconnected, #noresult, #noresult2, #limitexceeds, .playerdetails {
  display: none;
}
div.popover {
  max-width: 80%
}
#chart {
  height: 300px;
  width: 100%;
}