body {
  padding-top: 50px;
  background-image: url(/images/bg.png);
}
.mccolor {
  white-space: pre-wrap;
  color: transparent; /* Hide unformatted text. */
  font-family: monospace, sans-serif;
}
#disconnected, #noresult, #noresult2, #limitexceeds, .playerdetails {
  display: none;
}
div.popover {
  max-width: 80%
}
#chart {
  height: 300px;
  width: 100%;
}
.mccolor span {
  text-shadow:
    1px 1px 1px #000,
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000,
    0.5px 0 0 #000,
    -0.5px 0 0 #000,
    0 0.5px 0 #000,
    0 -0.5px 0 #000;
}
.media img {
  -webkit-filter: drop-shadow(0px 0px 2.2px rgba(0,0,0,1));
  filter: url(/images/dropshadow.svg#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
}
.separator {
  background: transparent url(/images/bar.png) no-repeat center center;
  background-size: contain;
  height: 50px;
  border: none;
}
.jumbotron {
  background: black url(/images/logo_bg.png) no-repeat center center;
  background-size: 100% 100%;
}
.jumbotron * {
  text-shadow: 0px 0px 20px #000;
  color: #FFF;
}
body>.container {
  background: white;
}
@media (min-width: 1280px) {
  #slist>div {
    text-align: initial;
    padding-left: 10%;
    padding-right: 10%;
  }
}
.jumbotron img {
  max-width: 936px;
  width: 80%;
}
.navbar-brand {
  background: transparent url(/images/logo_small.png) no-repeat center center;
  background-size: 152px 40px;
  width: 152px;
  height: 40px;
  display: block;
  margin: 4px 0 inherit;
  padding: 0;
}