<!DOCTYPE html>
<HTML>
<Head>
  <!-- 別往這裡看啦, 我會害羞的~~ >////< -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">
  <Title>Minecraft 伺服器狀態人造衛星</Title>
  <base target="_blank" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
</Head>
<Body role="document">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">選單</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">
          <i class="fa fa-globe"></i>
          Minecraft 伺服器狀態人造衛星
        </span>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#request" data-toggle="modal" data-target="#requestmodal" target="_self">
            <i class="fa fa-search"></i>
            增加 / 查詢
          </a></li>
          <li><a href="#help" data-toggle="modal" data-target="#helpmodal" target="_self">
            <i class="fa fa-question-circle"></i>
            說明 / API
          </a></li>
          <li><a href="https://github.com/JLChnToZ/mcs2">
            <i class="fa fa-github-alt"></i>
            Fork Me!
          </a></li>
          <li><a href="http://minecraft.net/">Minecraft 官方網站</a></li>
          <li><a href="http://www.minecraft-hk.com/">MCHK</a></li>
          <li><a href="http://hkcdc.org/">HKCDC</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="###" target="_self" data-toggle="tooltip" data-placement="bottom" title="上線人數">
              <i class="fa fa-users"></i>
              <span id="onlinecount" class="label label-default">1</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal fade" id="requestmodal" tabindex="-1" role="dialog" aria-labelledby="requestmodaltitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">關閉</span>
          </button>
          <h4 class="modal-title" id="requestmodaltitle">
            <i class="fa fa-search"></i>
            增加 / 個別查詢伺服器
          </h4>
        </div>
        <div class="modal-body">
          <form id="requestform" role="form">
            <div class="form-group">
              <label for="id_host">網址 / IP 地址</label>
              <input class= "form-control" type="text" name="host" id="id_host" placeholder="192.168.0.1/server.example.com" />
            </div>
            <div class="form-group">
              <label for="id_port">接口</label>
              <input class="form-control" type="number" name="port" id="id_port" value="25565" placeholder="25565" min="1" max="65535" />
            </div>
            <div class="form-group">
              <label>
                <input type="checkbox" name="addsuccess" id="id_addsuccess" value="true" checked="checked" />
                成功進行查詢後增加伺服器到列表中
              </label>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit" data-loading-text="請稍候" id="querybutton">
                <i class="fa fa-search"></i>
                增加 / 查詢
              </button>
            </div>
          </form>
          <hr />
          <div class="alert alert-danger" id="noresult" role="alert">
            <i class="fa fa-exclamation-triangle"></i>
            <b>不好! 查詢失敗!</b><br />
            對方的伺服器可能下線了, 或者網址錯誤吧?
          </div>
          <div class="alert alert-warning" id="limitexceeds" role="alert">
            <i class="fa fa-exclamation-triangle"></i>
            你查詢的速度太頻繁了, 先喝杯咖啡休息一下再來吧?
          </div>
          <div id="dresult"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-times"></i>
            關閉
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="helpmodal" tabindex="-1" role="dialog" aria-labelledby="helpmodaltitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">關閉</span>
          </button>
          <h4 class="modal-title" id="helpmodaltitle">
            <i class="fa fa-question-circle"></i>
            說明
          </h4>
        </div>
        <div class="modal-body">
          {{>help}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-times"></i>
            關閉
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container" role="main">
    <noscript>
      <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-triangle"></i>
        此系統需要使用 JavaScript, 請先啟動 JavaScript 或者轉用支援 JavaScript 的瀏覽器, 謝謝.
      </div>
    </noscript>
    <div class="alert alert-danger" id="disconnected" role="alert">
      <i class="fa fa-exclamation-triangle"></i>
      <b>不好! 斷線了!</b><br />
      線路不穩中... 正在嘗試再次連線...
    </div>
    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">關閉</span>
      </button>
      <i class="fa fa-lightbulb-o"></i>
      <b>提示: </b> 如果想增加自己的伺服器, 除了可在上面增加之外, 還可以前往
      <a href="http://www.minecraft-hk.com/forum-45-1.html">MCHK</a> /
      <a href="http://bbs.hkcdc.org/forum-672-1.html">HKCDC</a>
      論壇各自的伺服器版塊新增, 這裡將在稍候時間自動取得你的伺服器資料.
    </div>
    <div class="panel panel-primary info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-info-circle"></i>
          伺服器狀態列表
        </h3>
      </div>
      <div class="panel-body" id="slist">
        {{#status}}
          {{>status}}
        {{/status}}
      </div>
    </div>
  </div>
  <footer role="contentinfo">
    <div class="container">
      <p><b>Disclaimer:</b>
        <span>Use this at your own risk, I don't respond if you lose anything while you use it, even the computer get exploded. :)</span>
      </p>
      <p>Minecraft Server Satillite &copy; 2014 <a href="http://gh.jlctz.tk/">Jeremy Lam (JLChnToZ)</a>.
        This page is is not affiliated with <a href="http://mojang.com/">Mojang AB</a>.
        Minecraft content and materials are trademarks and copyrights of Mojang AB or its licensors. All rights reserved.
      </p>
    </div>
  </footer>
  
  <!-- Script Loader -->
  <!-- Bundled: jQuery, Bootstrap, Mustache, Moment.js with locale, jQuery Mustache -->
  <script src="/js/vendor/bundled.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/mccolor.js"></script>
  <script src="/js/main.js"></script>
</Body>
</HTML>