<!DOCTYPE html>
<HTML>
<Head>
  <!-- 別往這裡看啦, 我會害羞的~~ >////< -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">
  <Title>Minecraft 伺服器狀態人造衛星</Title>
  <base target="_blank" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <script src="/js/vendor/modernizr.custom.min.js"></script>
</Head>
<Body role="document">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">選單</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">
          <span class="sr-only">Minecraft 伺服器狀態人造衛星</span>
        </span>
      </div>
      <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-left" role="search" id="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="從列表搜尋伺服器" id="searchtext" />
          </div>
        </form>
        <ul class="nav navbar-nav">
          <li><a href="#request" data-toggle="modal" data-target="#requestmodal" target="_self" title="增加 / 查詢">
            <i class="fa fa-search"></i>
            <span class="visible-xs-inline">增加 / 查詢</span>
          </a></li>
          <li><a href="#stats" id="showstats" title="統計">
            <i class="fa fa-line-chart"></i>
            <span class="visible-xs-inline">統計</span>
          </a></li>
          <li><a href="#help" data-toggle="modal" data-target="#helpmodal" target="_self" title="說明 / API">
            <i class="fa fa-question-circle"></i>
            <span class="visible-xs-inline">說明 / API</span>
          </a></li>
          <li><a href="https://github.com/JLChnToZ/mcs2" title="Fork Me!">
            <i class="fa fa-github-alt"></i>
            <span class="visible-xs-inline">Fork Me!</span>
          </a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="相關連結">
              <i class="fa fa-globe"></i>
              <span class="visible-xs-inline">相關連結</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="http://minecraft.net/">Minecraft 官網</a></li>
              <li><a href="https://craftinghk.com">CraftingHK</a></li>
              <li><a href="http://www.minecraft-hk.com/">MCHK Community</a></li>
              <li><a href="http://hkcdc.org/">HKCDC</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="###" target="_self" id="t2s" title="繁簡轉換">简</a></li>
          <li><a href="###" target="_self" title="上線人數">
            <i class="fa fa-users"></i>
            <span class="sr-only">上線人數</span>
            <span id="onlinecount" class="label label-default">1</span>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="jumbotron">
    <div class="container">
      <h1 class="text-center"><img src="/images/logo.png" /></h1>
      <p id="timenow" class="text-center"></p>
    </div>
  </div>
  
  <div class="container" role="main">
    <noscript>
      <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-triangle"></i>
        此系統需要使用 JavaScript, 請先啟動 JavaScript 或者轉用支援 JavaScript 的瀏覽器, 謝謝.
      </div>
    </noscript>
    <div class="alert alert-danger" id="disconnected" role="alert">
      <i class="fa fa-exclamation-triangle"></i>
      <b>不好! 斷線了!</b><br />
      線路不穩中... 正在嘗試再次連線...
    </div>
    <div class="alert alert-info fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">關閉</span>
      </button>
      <i class="fa fa-lightbulb-o"></i>
      <b>提示: </b>
      如果想增加自己的伺服器, 除了可在上面增加之外, 還可以前往
      <a href="http://www.minecraft-hk.com/forum-45-1.html" class="alert-link">MCHK</a> /
      <a href="http://bbs.hkcdc.org/forum-672-1.html" class="alert-link">HKCDC</a>
      論壇各自的伺服器版塊新增, 這裡將在稍候時間自動取得你的伺服器資料.
    </div>
    <div id="slist">
      {{#status}}
        {{>status}}
      {{/status}}
    </div>
  </div>
  
  <footer role="contentinfo">
    <div class="container">
      <p>&nbsp;</p>
      <p><b>Disclaimer:</b>
        <span>Use this at your own risk, I don't respond if you lose anything while you use it, even the computer get exploded. :)</span>
      </p>
      <p>Minecraft Server Satillite &copy; 2014 <a href="http://gh.jlctz.tk/">Jeremy Lam (JLChnToZ)</a>.
        This page is is not affiliated with <a href="http://mojang.com/">Mojang AB</a>.
        Minecraft content and materials are trademarks and copyrights of Mojang AB or its licensors. All rights reserved.
      </p>
    </div>
  </footer>
  
  <div class="modal fade" id="requestmodal" tabindex="-1" role="dialog" aria-labelledby="requestmodaltitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">關閉</span>
          </button>
          <h4 class="modal-title" id="requestmodaltitle">
            <i class="fa fa-search"></i>
            增加 / 個別查詢伺服器
          </h4>
        </div>
        <div class="modal-body">
          <form id="requestform" role="form">
            <div class="form-group">
              <label for="id_host">網址 / IP 地址</label>
              <input class= "form-control" type="text" name="host" id="id_host" placeholder="192.168.0.1/server.example.com" />
            </div>
            <div class="form-group">
              <label for="id_port">接口</label>
              <input class="form-control" type="number" name="port" id="id_port" value="25565" placeholder="25565" min="1" max="65535" />
            </div>
            <div class="form-group">
              <label>
                <input type="checkbox" name="addsuccess" id="id_addsuccess" value="true" checked="checked" />
                成功進行查詢後增加伺服器到列表中
              </label>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit" data-loading-text="請稍候" id="querybutton">
                <i class="fa fa-search"></i>
                增加 / 查詢
              </button>
            </div>
          </form>
          <hr />
          <div class="alert alert-danger" id="noresult" role="alert">
            <i class="fa fa-exclamation-triangle"></i>
            <b>不好! 查詢失敗!</b><br />
            對方的伺服器可能下線了, 或者網址錯誤吧?
          </div>
          <div class="alert alert-warning" id="limitexceeds" role="alert">
            <i class="fa fa-exclamation-triangle"></i>
            你查詢的速度太頻繁了, 先喝杯咖啡休息一下再來吧?
          </div>
          <div id="dresult"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-times"></i>
            關閉
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="helpmodal" tabindex="-1" role="dialog" aria-labelledby="helpmodaltitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">關閉</span>
          </button>
          <h4 class="modal-title" id="helpmodaltitle">
            <i class="fa fa-question-circle"></i>
            說明
          </h4>
        </div>
        <div class="modal-body">
          {{>help}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-times"></i>
            關閉
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="statsmodal" tabindex="-1" role="dialog" aria-labelledby="statsmodaltitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">關閉</span>
          </button>
          <h4 class="modal-title" id="statsmodaltitle">
            <i class="fa fa-line-chart"></i>
            伺服器統計
          </h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" id="noresult2" role="alert">
            <i class="fa fa-exclamation-triangle"></i>
            <b>不好! 查詢失敗!</b><br />
            請先把欲查看圖表的伺服器旁邊的方塊核取
          </div>
          <div id="chart"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-times"></i>
            關閉
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Script Loader -->
  <!-- Bundled: jQuery, Bootstrap, Mustache, Moment.js with locale, jQuery Mustache, jQuery-s2t, jQuery Async, Lunr.js -->
  <script src="/js/vendor/bundled.min.js"></script>
  <script src="/js/vendor/excanvas.js"></script>
  <script src="/js/vendor/canvasjs.js"></script>
  <script src="/js/vendor/jquery.canvasjs.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/mccolor.js"></script>
  <script src="/js/main.js"></script>
  {{>footer}}
</Body>
</HTML>
