  <div id="d{{hash}}" class="media" style="{{^status.maxPlayers}}display: none{{/status.maxPlayers}}">
    <span class="pull-left">
      <img src="/icons/{{hash}}.png" class="media-object" />
    </span>
    <div class="media-body">
      <h5 class="media-heading">
        <span class="motd">
          <span class="mccolor">{{status.motd}}</span>
        </span>
        <small class="label label-default playerinfo">
          {{status.currentPlayers}} / {{status.maxPlayers}}
        </small>
      </h5>
      <div>{{host}}:{{port}}</div>
      <button class="showplayers btn btn-default btn-sm" type="button">
        <i class="fa fa-users"></i>
        玩家資料
        <span class="caret"></span>
      </button>
      <div class="add-info">{{>other_info}}</div>
    </div>
</div>
